.section_light {
    background-color: var(--color-bg-medium);
}

.button {
    padding: 16px 32px;
    color: var(--color-text);
    font-size: 18px;
    line-height: 120%;
    background: none;
    border: none;
    border-radius: var(--border-10);
    cursor: pointer;
}

.button_primary {
    background-color: var(--color-primary);
}

.button_primary:hover {
    background-color: var(--color-primary-hover);
}

.button_ghost {
    border: 1px solid var(--color-stroke)
}

.button_ghost:hover {
    background-color: var(--color-bg-medium);
}

@media (max-width: 640px) {
    .button {
        padding: 12px 32px;
    }
}

