:root {
  --color-primary: hsl(231, 14%, 10%);
  --color-text: #fafafa;
  --color-hover-text: #AFB2BF;
  --color-bg: #16171D;
  --color-bg-medium: #1E1F29;
  --color-bg-light: #2E2D3D;
  --color-stroke: #4D5064;

  --border-8: 8px;
  --layout-width: 1172px;
}

body {
  background-color: var(--color-bg);
  margin: 0;  
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}